@import "tailwindcss";


@font-face {
  font-family: "figtree";
  src: url("/fonts/fig.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "figtree";
  src: url("/fonts/figi.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: "figtree";
  }
}

@layer utilities {
  .font-figtree {
    font-family: "figtree";
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-fig: "figtree"
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.shake-animation {
  animation: tilt-n-move-shaking 0.35s infinite;
}
@keyframes tilt-n-move-shaking {

  0% { transform: translateX(0) }
  25% { transform: translateX(2px) }
  50% { transform: translateX(-2px) }
  75% { transform: translateX(2px) }
  100% { transform: translateX(0) }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes opacity-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.opacity-in-animation {
  animation: opacity-in 0.3s;
}

.fade-in-animation {
  animation: fadeIn 0.9s ease-out forwards;
}

.fade-in-animation-fast {
  animation: fadeIn 0.2s ease-out forwards;
}

@keyframes clearLine {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.8;
  }
  75% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
    opacity: 0.3;
  }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  75% { transform: translateX(2px); }
}

.clearing {
  animation: clearLine 0.3s ease-in-out forwards;
}

.shaking {
  animation: shake 0.2s ease-in-out;
}

.clearing-highlight {
  background-color: rgba(255, 0, 0, 0.5); /* Example highlight color */
}

/* Add styles for the potential clear highlight */
.potential-clear-highlight {
  animation: potential-clear-pulse 1s infinite;
  background-color: rgba(59, 130, 246, 0.5) !important; /* blue-500 with opacity */
}

@keyframes potential-clear-pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.5;
  }
}

